// Specific CSS for your home-page
.home-top-container {
  // background-color: red;
  // height: 400px;
  width: 100%;
  padding: 50px 0;
  font-family: 'Ubuntu', sans-serif;
  position: relative;
  h1 {
    color:white;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight:700;
    font-size: 64px;
    // padding-right:32px;
    // padding-bottom: 30px;
  }
  h2 {
    color:white;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight:700;
    font-size: 24px;
  }
}

h1 {
  // color:white;
  // text-align: center;
  // font-family: 'Ubuntu', sans-serif;
  // font-weight:700;
  // font-size: 24px;
}

h2 {
  color:white;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

.card-home-text {
  position: absolute;
  top: 25vh;
  left: 5vh;
}
.card-home-text h2 {
  padding-bottom: 8vh;
}





// hello
