// Specific CSS for your home-page
.home-top-container {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: 'Ubuntu', sans-serif;
}

.card-home-text {
  padding-bottom: 20px;
  margin-top: 7rem;
}

.card-home-text-h1 {
  color:white;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-weight:700;
  font-size: 64px;
  padding-bottom: 13px;
}

.card-home-text-h2 {
  color:white;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-weight:700;
  font-size: 24px;
}



.card-home-text h2 {
  padding-bottom: 2vh;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 70px;
  background: #000000;
  transition: background 0.3s ease;
  display: flex;
  justify-content: center;
}

.lets-go-button {
  width: 100%;
  display: flex;
  justify-content: center;
}
