// Specific CSS for your home-page
.home-top-container {
  width: 100%;
  padding: 50px 0;
  font-family: 'Ubuntu', sans-serif;
}

.card-home-text-h1 {
  color:white;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-weight:700;
  font-size: 64px;
  padding-bottom: 13px;
}

.card-home-text-h2 {
  color:white;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-weight:700;
  font-size: 24px;
}


.card-home-text {
  top: 0vh;
  left: 5vh;
  margin-top: 194px;
  padding-bottom: 42px;
  margin-right: 8px;
}

.card-home-text h2 {
  padding-bottom: 2vh;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 70px;
  background: #000000;
  transition: background 0.3s ease;
  justify-content: center;
  display: flex;
  margin: 80px;
  margin-bottom: auto;
  margin-left: 116px;
  margin-top: -48px;
}
