.profile-page-container{
  background-color: black;
  height: 100vh;
  width: 100%;
}

.title-profile-name{
  padding-top: 25px;
  color: white;
  display: flex;
  justify-content: center;
  // padding-bottom: 20px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Ubuntu', sans-serif;
  font-size: 23px;
}

.title-friend {
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
  padding-bottom: 15px;
  color: white;
  padding-left: 34%;
}

.friend-name {
  color: white;
  margin-left: 24px;
  font-size: 20px;
}

.title-events {
  font-size: 25px;
  font-family: 'Ubuntu', sans-serif;
}

.profile-hello{
  text-align: center;
  margin-top: -90;

}



.fa-angle-left::before {
  content: "\f104";
  font-size: 25px;
  color: white;
}

.profile-page-container{
  padding-top: -100%;

}


.back-to-index{
  justify-content: space-between;
  margin-top: 8%;
  margin-bottom: 10%;
  padding-left: 8% ;
  padding-right: 8%;

}

.avatar-header-profile{
  border-radius: 50%;
  width: 125px;
}

.avatar-friend-profile {
  border-radius: 50%;
  width: 58px;
}

.friendsprofile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-style: solid;
  border-color: white;
  border-radius: 5px;
  padding: 2%;
}
