// .show-event-name {
//   font-family: 'Ubuntu', sans-serif;
//   font-size: 36px;
//   text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   padding: 20px 20px 0px 20px;
//   color: white;
// }

.show-event-banner {
  display: flex;
  justify-content: center;
  max-width:100%;
  max-height:100%;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: auto;
  width: 99%;

}

//.background_container {
//   background-image: ;
//}

.event-card-detail {
  background-color: black;
	margin: 20px;
 	max-width: 100%;
 	max-height: 100%;
 	border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-top: 5%;
}


.event-card-detail-name {
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.show-margin {
  margin: 20px;
}

.event_card_text {
  color: white;
  font-family: 'Ubuntu', sans-serif;;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  padding: 15px;
}

.line-up {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  color: white;
  padding: 15px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.more-information {
  color: white;
  font-family: 'Ubuntu', sans-serif;;
  font-size: 16px;
  padding: 15px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.find_us_text {
  display: flex;
  justify-content: center;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;
  padding: 15px 15px 0px 15px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-map {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 0 20px 20px 20px;
  border-radius: 20px;
  margin-bottom: 100px;
}

// .fa-angle-left::before {
//   content: "\f104";
//   font-size: 20px;
//   margin-left: -60px;
// }

.event-name{
  font-family: 'Ubuntu', sans-serif;
  font-size: 36px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
