<div class="navbar">

  <%= link_to search_events_path, class: 'nav-event d-flex justify-content-center flex-column text-decoration-none text-white' do %>
    <button class="button-search"type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
    <p class="navbar-p"></p>
  <% end %>

  <%= link_to profile_path, class: 'nav-profile d-flex justify-content-center flex-column text-decoration-none text-white' do %>
    <% if current_user.photo.attached? %>
     <%= cl_image_tag current_user.photo.key, class: "avatar-navbar", alt: 'avatar' %>
    <% else %>
      <%= image_tag "user-image.jpg", class: "avatar-navbar"%>
    <% end %>
    <button class="button-profile"type="button"></button>
    <p class="navbar-p"></p>
  <% end %>
</div>
