<div class="navbar">

  <%= link_to '#', class: 'nav-event d-flex justify-content-center flex-column text-decoration-none text-white' do %>
    <button class="button-search"type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
    <p>Search</p>
  <% end %>

  <%= link_to '#', class: 'nav-profile d-flex justify-content-center flex-column text-decoration-none text-white' do %>
    <img class="avatar" alt="avatar" src="https://ca.slack-edge.com/T02NE0241-U01HX4EMWG7-2882a4f4d121-192" />
    <button class="button-profile"type="button"></button>
    <p>Profile</p>
  <% end %>
</div>
