<div class="home-top-container">
  <div class="card-home-text">
    <h1 class="card-home-text-h1">Chromatic</h1>
    <h2 class="card-home-text-h2">Discover events near you<br>and meet new people<br>along the way</h2>
  </div>
</div>

<div class="lets-go-button">
  <%= link_to "Let's go!", events_path, class:"btn btn-flat d-flex justify-content-center offset-button" %>
</div>
