<div class="home-top-container">
 <div class="card-home-text">
  <h1>Chromatic</h1>
  <h2>Discover events near you<br>and meet new people<br>along the way</h2>
  <%= link_to "Start", search_events_path, class:"btn btn-flat d-flex justify-content-center offset-button" %>
 </div>
</div>
