  <!--  CHATROOM-->
  <div class="chatroom-container">
  <div id="video-button-back">
    <%= link_to events_path do %>
      <i class="fa-solid fa-chevron-left"></i>
    <% end %>
  </div>
    <button class="stream-button" id="join-btn">Join Stream</button>

    <div class="chatroom-card">


      <div id="stream-wrapper">

        <div id="video-streams"></div>

        <div class="card-controlers">

           <div id="stream-controls">
              <button class="stream-controller-button" id="leave-btn">Leave Stream</button>
              <button  class="stream-controller-button" id="mic-btn">Mic On</button>
              <button  class="stream-controller-button" id="camera-btn">Camera on</button>
          </div>

      </div>

    </div>

  </div>
  <!-- CHATROOM -->
