.interested_button {
  margin: 0 auto;
  width: 200px;
  height: 56px;
  left: 97px;
  top: 1181px;
  background: #B41BD0;
  border-style: solid;
  border-color: white;
  border-radius: 90px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  color: white;
  font-weight: bold;
}

.interested_button:active {
  margin: 0 auto;
  width: 200px;
  height: 56px;
  left: 97px;
  top: 1181px;
  background: white;
  border-style: solid;
  border-color: white;
  border-radius: 90px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  color: #B41BD0;
  font-weight: bold;
}

.remove-event-show-event-page {
  display: inline-block;
  text-align: center;
  padding-top: 7%;
  margin: 0 auto;
  width: 200px;
  height: 56px;
  text-shadow: none;
  background: #B41BD0;
  border-style: solid;
  border-color: white;
  border-radius: 90px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.remove-event-show-event-page:active {
  display: inline-block;
  text-align: center;
  padding-top: 7%;
  margin: 0 auto;
  width: 200px;
  height: 56px;
  text-shadow: none;
  background: white;
  border-style: solid;
  border-color: white;
  border-radius: 90px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  color: #B41BD0;
  font-weight: bold;
}

.center-button {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

.top-button-interested {
  margin-top: 5%;
}
