
.card-event-index{
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 10%;
  border-color: black;
  border-style: solid;


}
.cards-event img{
  width: 100%;
}
.card-title-index{
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: white;
  display: flex;
  justify-content:left;
  align-items: left;
  padding: 10px;


}

// .card-artist-index {
//   font-family: 'Ubuntu', sans-serif;
//   font-size: 20px;
//   font-weight: bold;
//   color: white;
//   display: flex;
//   justify-content:left;
//   align-items: left;
//   padding: 10px;

// }

.card-date-index{
  font-family: 'Ubuntu', sans-serif;
  font-size: 10px;
  font-weight: bold;
  color: white;
  display: flex;
  justify-content:right;
  
  padding: 10px;

}

.card-text-index {
  display: flex;

}

.no-decoration {
  text-decoration: none;
}
