
.card-event-index{

  background-color: rgba(255, 255, 255, 0.987);
	border-radius: 16px;
	overflow: hidden;
	margin: 6%;
	// border-color: black;
	// border-style: solid;
	width: 93%;
 	margin-left: 14px;
 	margin-bottom: 40px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.cards-event img{
  width: 100%;
}
.card-title-index{

  font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: black;
	display: flex;
	justify-content: left;
  padding-left: 19px;
  padding-top: 19px;
}

.card-artist-index {
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  color: black;
  display: flex;
  justify-content:left;
  align-items: left;
  padding-top: 10px;
  padding-left: 19px;
}

.card-date-index{
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.433);
  padding: 20px 20px 20px 0px;
  overflow: hidden;
  white-space: nowrap;
}

.text-right {
  padding-top: 5%;
  margin-left: 10px;
  display: flex;
  align-items: center;
  text-align: center;
}
.card-text-index {
  display: flex;
  justify-content: space-between;
}

.no-decoration {
  text-decoration: none;
}


.events-list-index{
  margin-bottom: 25%;
  padding-top: -30%;
}


.date{
  width: 100%;
  input[type=date]{
    min-width: 100%;
  }
}

.content-container{
  width: 100%;
}
