
#findeventForm {
  background-color: hsla(0, 0%, 0%, 0.35);
  padding: 40px;
  width: 70%;
  left: 48px;
  top: 289px;
  border-radius: 5%;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  border-color: #000000;
  input {
    border-radius: 50px;
    font-family: 'Ubuntu', sans-serif;
    max-width: 100%;
    padding: 10px;
    margin: 40px auto;
    border-color: #000000;
  }

  .offset-button {

  }
}


.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 70px;
  background: #000000;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #4D04C4;
  color: white;
}
