// xxxxx
#findeventForm {
  padding: 40px;
  width: 70%;
  min-width: 300px;
  width: 296px;
  // height: 429px;
  left: 48px;
  top: 289px;
  border-radius: 5%;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  position: absolute;
  input {
    border-radius: 50px;
    font-family: 'Ubuntu', sans-serif;
    max-width: 100%;
    padding: 10px;
    margin: 40px auto;
  }

  .offset-button {
    // position: absolute;
    // bottom: 0;
    // left: 50%;
    // transform: translate(-50%, 50%);
  }
}


.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #670BFF;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #4D04C4;
  color: white;
}
