.container-swipping .title-events{
  padding-top: 10%;
  color: white;
  display: flex;
  justify-content: center;

}

.title-events-index{
  padding-top: 10%;
  color: white;
  display: flex;
  justify-content: center;

}
